.exercise-info-popup-wrapper{
  width: 92vw;
  height: 80vh;
  position: fixed;
  background: #853835;
  top: 15vh;
  left: 4vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 5;
  overflow-y: scroll;
}

.second-info{
  display: flex;
  flex-direction: row;

}

.exercise-info-popup-wrapper > div:first-child {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.exercise-info-popup-wrapper > div:first-child > button{
  height: 5vh;
  background: black;
  border-radius: 0rem;
}

.exercise-info-popup-wrapper > h1, .exercise-info-popup-wrapper > h3, .exercise-info-popup-wrapper > div > p {
  color: white;
  text-align: left;
  padding: 0rem 1rem;
}

.exercise-info-popup-wrapper > div > p{
  font-weight: 300;
  letter-spacing: 1px;
}

