.exercise-item-wrapper{
  width: 90vw;
  background: #D9D9D9;
  position: relative;
  margin: 1rem 0rem;
}

.exercise-info{
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-left: 0rem 1rem 0rem 0rem;
}

.exercise-info > select{
  width: 70%;
}

.exercise-info > p, .exercise-info > p.difficulty-wrapper{
  width: 70%;
  text-align: left;
  justify-content: left;
}

.info-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.set-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 7vh;
}

.set-wrapper-rep-only{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.set-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.set-info > .header{
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
  align-self: flex-end;
}

.set-info > .sets-items, .set-info > .sets-items-timed{
  width: 100%;
} 

.set-wrapper > .inputs > input{
  width: 8vw;
  height: 4vh;
  margin: 0rem 1rem 0rem 1rem;
}

.sets-items > button, .sets-items-timed > button{
  background: #853835;
  border-radius: 0rem;
  width: 80%;
  margin: .5rem;
  align-self: center;
}

.set-wrapper > .inputs > p{
  width: 10vw;
  height: 3.5vh;
  margin: 0rem 1rem 0rem 1rem;
  background: #853835;
  color: white;
  text-align: center;
  vertical-align: center;
}

.set-wrapper > .inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.set-wrapper > h4, .set-wrapper-rep-only > h4{
  width: 100%;
}

.set-wrapper > button, .set-wrapper-rep-only > button{
  background: transparent;
  border: 0px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.difficulty-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.difficulty{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem;
}

.timed-input{
  display: flex;
  flex-direction: row;
  width: 20vw;
  align-self: center;
  justify-content: center;
  align-items: center;

}

.timed-input > input{
  width: 30%;
  height: 4vh;
  justify-content: end;
  align-items: end;
  align-self: center;
}

.timed-input > p{
  padding: .25rem;
}

.sets-items{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-start;
  align-items: center;
}

.sets-items-timed{
  width: 100%;
  display: flex;
  flex-direction: column;
}



.rep-only-inputs{
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rep-only-inputs > input{
  width: 16vw;
  height: 4vh;

}
