.wrapper{
  background-color: #B82A25;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  top: 0px;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper > h1{
  color: #332929;
  text-align: center;
  font-family: 'Koulen', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  margin-left: 5%;
}

.wrapper > button{
  background-color: transparent;
  border: 0 px transparent;
}

#menu-icon-rotated{
  transform: rotate(90deg);
}