
.cnw-wrapper{
    width: 75%;
    height: 25%;
    position: absolute; 
    margin: auto;
    background: green;
    
    top :0; left: 0; right: 0; bottom: 0;
}

.button-wrapper{
    width: 50%;
    height: 25%;
    position: absolute; 
    margin: auto;
    background: blue;
    
    top :5vh; left: 0; right: 0; bottom: 0;
}