@media (max-width: 800px){
  .content-wrapper{
    height: 100%;
    width: 100vw;
    background: #FFF;
    bottom: 0rem;
    margin-top: 15%; 
  }

  *{
    text-align: center;
    font-family: 'Koulen', sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    line-height:150%;
  }
}

@media(min-width: 801px){
  .content-wrapper{
    height: 700px;
    width: 300px;
    background: #FFF;
    bottom: 0rem;
    margin-top: 15%; 
  }

  *{
    text-align: center;
    font-family: 'Koulen', sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    line-height:150%;
  }
}

