.WorkoutTitle-Wrapper {
    margin: auto;
    text-align: center;
}

.WorkoutTitle-Wrapper > .WorkoutInputs {
    width: 45vh;
    height: 10vh;
    background-color: #D9D9D9;
}

.WorkoutTitle-Wrapper > input::placeholder {
    color: #000000;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
}

.WorkoutTitle-Wrapper > input {
    color: #000000;
    font-size: 2.5rem;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
}

.SaveButton-Wrapper {
    margin: auto;
    text-align: center;
}

.Select-Wrapper {
    margin: auto;
    text-align: center;
    z-index: 0 !important;
}

.log-workout-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
    top: 15vh;
    justify-content: flex-start;
    position: fixed;
    overflow-y: scroll;
}
