.set-options{
  position: absolute;
  background-color: #853835;
  width: 25vw;
  z-index: 4;
  padding: 1rem;
  top: 5rem;
}

.set-options > div > button{
  background-color: white;
  color: black;
  font-size: smaller;
  border-radius: 0px;
  margin: .5rem;
}

.set-options > div.exit-btn > button{
  background-color: transparent;
  color: black;
  font-size: smaller;
  border-radius: 0px;
  margin: .5rem;

}

.rating-wrapper{
  display: flex;
  flex-direction: column;
  background: #B82A25;
  z-index: 5;
  position: absolute;
  padding: .5rem;
  left: 5rem;
}

.rating-wrapper > .rating-header{
  display: flex;
  flex-direction: row;
}

.rating-wrapper > .rating-header > button{
  color: black;
  background: transparent;
  justify-self: flex-start;
}

.rating-wrapper > .rating-header > p{
  justify-self: center;
  margin-left: 8vw;
}

.rating-wrapper > .rating-buttons{
  display: flex;
  flex-direction: row;
  color: black;
}

.rating-wrapper > .rating-buttons > button{
  color: black;
}

.rating-wrapper > .rating-buttons > button.selected{
  color: white;
  background-color: black;
}

.rating-wrapper > .rating-guide{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 1rem;
}